<ul class="c-benefits">
  <li class="c-benefits__item">
    <img src="../img/s-benefits-img-1.png" alt="" class="c-benefits__icon">
    <h3 class="c-benefits__title">Ставка</h3>
    <div class="c-benefits__text">от 5 % в месяц</div>
  </li>
  <li class="c-benefits__item">
    <img src="../img/s-benefits-img-2.png" alt="" class="c-benefits__icon">
    <h3 class="c-benefits__title">Сумма</h3>
    <div class="c-benefits__text">до 10 000 000 руб</div>
  </li>
  <li class="c-benefits__item">
    <img src="../img/s-benefits-img-3.png" alt="" class="c-benefits__icon">
    <h3 class="c-benefits__title">Период</h3>
    <div class="c-benefits__text">До 10 лет</div>
  </li>
  <li class="c-benefits__item">
    <img src="../img/s-benefits-img-4.png" alt="" class="c-benefits__icon">
    <h3 class="c-benefits__title">30 минут</h3>
    <div class="c-benefits__text">Время оформления</div>
  </li>
</ul>
