<section class="section s-conditions">
  <div class="container">
    <h2 class="s-conditions__title"><%= title %></h2>
    <ul class="s-conditions__list">
      <% for (var item in list) { %>
        <li class="s-conditions__item"><%= list[item] %></li>
      <% } %>
    </ul>
  </div>
</section>
