<section class="section s-scheme">
  <div class="container">
    <h2 class="s-scheme__title">Схема оформления займа</h2>
    <ul class="s-scheme__list">
      <li class="s-scheme__item">
        <div class="s-scheme__image">
          <img src="../img/scheme-1.png" alt="">
        </div>
        <div class="s-scheme__text">Вы заполняете заявку на сайте</div>
      </li>
      <li class="s-scheme__item">
        <div class="s-scheme__image">
          <img src="../img/scheme-2.png" alt="">
        </div>
        <div class="s-scheme__text">Мы делаем вам звонок с уточняющими вопросами</div>
      </li>
      <li class="s-scheme__item">
        <div class="s-scheme__image">
          <img src="../img/scheme-3.png" alt="">
        </div>
        <div class="s-scheme__text">Вы приезжаете к нам в офис для оформления документов</div>
      </li>
      <li class="s-scheme__item">
        <div class="s-scheme__image">
          <img src="../img/scheme-4.png" alt="">
        </div>
        <div class="s-scheme__text">Моментально получаете<br> денежные средства</div>
      </li>
    </ul>
  </div>
</section>
