.page-hero {
  margin-top: map_get($header-heights, sm);
  padding-top: 10px;
  padding-bottom: 34px;
  @include media-breakpoint-up(md) {
    margin-top: map_get($header-heights, md);
    padding-top: 20px;
    padding-bottom: 54px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: map_get($header-heights, xl);
    //margin-top: 0;
    padding-top: 45px;
    padding-bottom: 64px;
  }

  &__breadcrumb {
    margin-bottom: 88px;
  }
}
.article {
  &__title {
    margin-bottom: 50px;
  }

  &__banner {
    margin-left: ($grid-gutter-width / -2);
    margin-right: ($grid-gutter-width / -2);
    @include media-breakpoint-up(md) {
      margin: 0 0 2rem;
    }
  }
}
